{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA Compatible" content="IE-edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'h5p/styles/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'h5p/styles/bootstrap/css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" href="{% static 'h5p/styles/h5pp.css' %}">
		{% block head %}{% endblock head %}
	</head>
	<body>
		{% if not request.GET.is_iframe %}
			<header id="header">
				<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="{% url 'h5phome' %}">H5PP</a>
						</div>
						<ul class="nav navbar-nav">
							<li><a href="{% url 'h5plibraries' %}">Libraries</a></li>
							<li><a href="{% url 'h5pcreate' %}">Editor</a></li>
							<li><a href="{% url 'h5plistContents' %}">Contents</a></li>
							<li><a href="{% url 'admin:index' %}">Administration</a></li>
						</ul>
						{% if not request.user.is_authenticated %}
							<a href="{% url 'login' %}?next=/h5p/home/" class="btn btn-success navbar-btn navbar-right user">
								<span class="glyphicon glyphicon-door"></span>
								Login
							</a>
						{% else %}
							<a href="{% url 'logout' %}" class="btn btn-danger navbar-btn navbar-right user">
								<span class="glyphicon glyphicon-exit"></span>
								Log out
							</a>
							<p class="navbar-text navbar-right" id="user-info">
								<span class="glyphicon glyphicon-user"></span>
								{{ request.user.username }}
							</p>
						{% endif %}
						<a href="/" class="btn btn-info navbar-btn navbar-right user">
							<span class="glyphicon glyphicon-exit"></span>
							Return to home
						</a>
					</div>
				</nav>
			</header>
		{% endif %}
		<div class="content">
			{% block body %}
			{% endblock body %}
		</div>
	</body>
</html>