{% extends "h5p/base.html" %}
{% load static %}
{% block head %}
	<style type="text/css" media="all">
	{% for style in data.assets.css %}
		@import url("{% static style %}");
	{% endfor %}
	</style>
	<style>
	.content {
					background: rgba(102, 178, 255, .4);
					border-radius: 25px;
					padding: 20px;
					max-width: 1000px;
					margin: auto;
		}
	.h5p-admin-header {
		font-family: 'Raleway', sans-serif;
		font-size: 25px;
		font-weight: 800;
		line-height: 36px;
		margin: 0 0 24px;
		text-align: center;
		text-decoration: overline;
	}
	</style>
	{% for script in data.assets.js %}
		<script type="text/javascript" src="{% static script %}"></script>
	{% endfor %}
	<script type="text/javascript">
		H5PIntegration = {% autoescape off %} {{data.integration}} {% endautoescape %}
	</script>
{% endblock head %}
{% block body %}
<div class="wrap">
	<h3 class="h5p-admin-header">Contents</h3>
	{% autoescape off %}
	{{html}}
	{% endautoescape %}
	<br>
	<form method="get" action="{% url "h5pedit" contentId=request.GET.contentId %}">
		{% csrf_token %}
		<input type="submit" value="Edit">
	</form>
</div>
<br>
{% endblock body %}