{% extends "h5p/base.html" %}
{% load static %}
{% block head %}
	<title>H5PP - Editor</title>
	{% if request.GET.title %}
		<style>
			.radio {
				display: none;
			}
		</style>
	{% endif %}
	<style type="text/css" media="all">
	{% for style in data.coreAssets.css %}
		@import url("{% static style %}");
	{% endfor %}
	</style>
	{% for script in data.coreAssets.js %}
		<script type="text/javascript" src="{% static script %}"></script>
	{% endfor %}
	{% for script in data.add %}
		<script type="text/javascript" src="{% static script %}"></script>
	{% endfor %}
	<script type="text/javascript">
		H5PIntegration = {% autoescape off %} {{data.editor}} {% endautoescape %}
	</script>
	<script>
		window.onload = function() {
			document.getElementById('id_h5p_type_0').onclick = function() {
				document.getElementsByTagName('label')[4].style.display = 'inline-block';
				document.getElementById('id_h5p').style.display = '';
				document.getElementsByTagName('label')[3].style.display = 'none';
				document.getElementsByClassName('h5p-editor-iframe')[0].style.display = 'none'
			}
			document.getElementById('id_h5p_type_1').onclick = function() {
				document.getElementsByTagName('label')[4].style.display = 'none';
				document.getElementById('id_h5p').style.display = 'none';
				document.getElementsByTagName('label')[3].style.display = 'inline-block';
				document.getElementsByClassName('h5p-editor-iframe')[0].style.display = 'inline-block';
			}
			ns.$('.h5peditor-form').hide();

			var fileInput = document.getElementById("id_h5p"),
			button = document.getElementsByClassName("upload-h5p")[0],
			result = document.getElementsByClassName("file-return")[0];

			button.addEventListener( "keydown", function(event) {
				if(event.keyCode == 13 || event.keyCode == 32) {
					fileInput.focus();
				}
			});
			button.addEventListener( "click", function(event) {
				fileInput.focus();
				return false;
			});
			fileInput.addEventListener( "change", function(event) {
				result.innerHTML = this.value;
			});
		}
	</script>
{% endblock head %}
{% block body %}
<div class="wrap">
	{% if not request.GET.is_iframe %}
		<a href="{% url 'h5plistContents' %}"><span class="glyphicon glyphicon-arrow-left"></span> List of contents</a>
		<h1 class="page-title">Editor</h1>
	{% endif %}
	<div class="well">
		{% if not request.GET.is_iframe %}

			{% if not request.GET.title %}
				<h4 class="section-title">Create new content</h4>
				<div class="alert alert-success info">
					<p>You can create or upload content with this editor :</p>
						<ul><li><b>Create </b>: Start by giving it a <i>title</i>. Select <i>create</i> and choose a content type from the dropdown list. 
						The number of content types depends on the libraries installed.<br>If a tutorial is available for this content you can access to it (label <i>Tutorial available</i>)</li>

						<li><b>Upload </b>: Start by giving it a <i>title</i>. Select <i>upload</i> and click on <i>Upload H5P Package</i> to upload your content. The content must be a <i>.h5p</i> file.</li></ul>

					<p>When you're done, click on the <b>Save</b> button. You will be redirected to the viewing page of your content.</p>
				</div>
			{% else %}
				<h4 class="section-title">{{request.GET.title}}</h4>
				<div class="alert alert-success info">
					<p>You can edit your content with this editor :</p>
						<ul><li><b>Edit </b>: You can change the <i>title</i> and the <i>content type</i>. If your content is a <i>interactive video</i>, users will be notified of changes made in your video when they watch it again.</li>

						<li><b>Delete </b>: To delete a content you must go to the <a href="{% url 'h5plistContents' %}">contents page</a></li></ul>

					<p>When you're done, click on the <b>Save</b> button. You will be redirected to the viewing page of your content.</p>
				</div>
			{% endif %}
		{% endif %}
		<form method="post" enctype="multipart/form-data" id="h5p-content-form">
			{% csrf_token %}
			<label for="id_title" class="label_form"><b>Title</b></label>
			{{form.title}}
			<div class="radio">
				<b>Action</b>
				{{form.h5p_type}}
			</div>
			<label for="h5p-editor-iframe" class="label_form">Content type editor :</label>
			<div class="h5p-editor">Waiting for javascript...</div>
			{{form.json_content}}
			{{form.disable}}
			{{form.h5p_library}}
			<br>
			<div class="file-container editor">
				{{ form.h5p }}
				<label for="id_h5p" class="btn btn-default upload-h5p" tabindex="0">Upload H5P Package</label>
			</div>
			<p class="file-return"></p>
			{% if not request.GET.contentId %}
				<input class="btn btn-default" type="submit" id="submit_editor" value="Save">
			{% else %}
				<input class="btn btn-default" type="submit" id="submit_editor" value="Save">
			{% endif %}
			{% if form.non_field_errors %}
				<div class="alert alert-danger">
						<p>
							{{ form.non_field_errors }}
						</p>
				</div>
			{% endif %}
		</form>
	</div>
</div>
{% endblock body %}
