{% extends "h5p/base.html" %}
{% block head %}
	<style>
		.content {
					background: rgba(102, 178, 255, .4);
					border-radius: 25px;
					padding: 20px;
					max-width: 1000px;
					margin: auto;
				}
		.h5p-admin-header {
			font-family: 'Raleway', sans-serif;
			font-size: 25px;
			font-weight: 800;
			line-height: 36px;
			margin: 0 0 24px;
			text-align: center;
			text-decoration: overline;
		}
		p {
			background-color: #ffdddd;
			border-left: 6px solid #f44336;
		}
	</style>

{% endblock head %}
{% block body %}
	<h3 class="h5p-admin-header">Home</h3>
	<nav class="vertical">
		<ul>
			{% if H5P_ENABLED %}
			<li>
				<a href="/">Home</a>
			</li>
			{% endif %}
			<li>
				<a href="{% url "h5plibraries" %}">Libraries</a>
			</li>
			<li>
				<a href="{% url "h5pcreate" %}">Create</a>
			</li>
			<li>
				<a href="{% url "h5plistContents" %}">Contents</a>
			</li>
		</ul>
	</nav>
	{% if request.user.username %}
		<p>You are connected :<br><b>User </b>: {{ request.user.username }}<br><b>ID</b> : {{ request.user.id }}</p>
	{% endif %}
	{% if status %}
		<p>{{ status }}</p>
	{% endif %}
{% endblock body %}
{% block back %}{% endblock back %}
