{% extends "h5p/base.html" %}
{% load static %}
{% block head %}
	<title>H5PP - Libraries</title>
	<style>
		{% if not libraries %}
		.configuration {
			display: none;
		}
		{% endif %}
	</style>
	<script>
		window.onload = function() {
			var fileInput = document.getElementById("id_h5p");
			var button = document.getElementsByClassName("upload-libraries")[0];
			var result = document.getElementsByClassName("file-return")[0];
			var submit = document.getElementsByClassName("submit")[0];

			button.addEventListener( "keydown", function(event) {
				if(event.keyCode == 13 || event.keyCode == 32) {
					fileInput.focus();
				}
			});
			button.addEventListener( "click", function(event) {
				fileInput.focus();
				return false;
			});
			fileInput.addEventListener( "change", function(event) {
				result.innerHTML = this.value;
			});
			submit.addEventListener( "click", function(event) {
				loader = document.getElementsByClassName("loader")[0];
				loader.style.display = 'block';
				result.innerHTML = '';
			});

			var searchbar = document.getElementById('searchbar');
                        if (searchbar) {
  		            searchbar.addEventListener("keyup", function(event) {
				var input, filter, table, tr, td, i;
				input = document.getElementById("searchbar");
				filter = input.value.toUpperCase();
				table = document.getElementById("libraries");
				tr = table.getElementsByTagName("tr");

				for(i = 0; i < tr.length; i++) {
					td = tr[i].getElementsByTagName("td")[0];
					if(td) {
						if(td.innerHTML.toUpperCase().indexOf(filter) > -1) {
							tr[i].style.display = "";
						}else {
							tr[i].style.display = "none";
						}
					}
				}
			    });   
		};    }
	</script>
{% endblock head %}
{% block body %}
<div class="wrap">
	<h1 class="page-title">Libraries</h3>
	<div class="well upload">
	<h4 class="section-title">Manage libraries</h4>
		<div class="alert alert-success">
			<p align="center">
				You can manage your libraries here.<br>
				Libraries are the source files for the different types of content offered by H5PP.<br>
				To install or update a new library click on the button below, choose your H5P package (.h5p) and click to <b>proceed</b>.
			</p>
		</div>
		<form method="post" enctype="multipart/form-data" id="h5p-library-form" style="display: inline;">
			{% csrf_token %}
			<div class="file-container library">
				{{ form.h5p }}
				<label for="id_h5p" class="btn btn-default upload-libraries" tabindex="0">Upload H5P Package</label>
			</div>
			<br>
			<div class="loader"></div>
			<p class="file-return"></p>
			<br>
			<div class="configuration" align="center">
				<label>Update libraries tutorials : {{ form.download }}</label><br>
				<i>Some types of content have tutorials. It is possible that with time new ones appear. You can update these tutorials here.</i><br>
				<label> Uninstall H5P : {{ form.uninstall }}</label><br>
				<i>You can uninstall your libraries. If you do, all your libraries and contents created will be deleted.</i><br>
			</div>
			<p style="text-align:center"><input class="btn btn-default submit" type="submit" value="Proceed"></p>
			{% if form.non_field_errors or status %}
				<div class="alert alert-danger">
					{% if form.non_field_errors %}
						<p>
							{{ form.non_field_errors }}
						</p>
					{% else %}
						<p>
						{{ status }}
						</p>
					{% endif %}
				</div>
			        {% endif %}
		</form>
	</div>
</div>
<br>
<div class="list">
	{% if libraries %}
	<h4 class="section-title">List of libraries availables</h4>
	<input type="text" id="searchbar" placeholder="Search for libraries...">
	<table id="libraries" class="table table-striped">
		<tr class="header">
			<th style="width:60%;">Name</th>
			<th style="width: 40%;">Version</th>
			<th style="width: 40%;">Tutorial</th>
		</tr>
	{% for library in libraries %}
	 <tr>
	  	<td>{{library.machine_name}}</td>
	  	<td>{{library.major_version}}.{{library.minor_version}}</td>
	  	<td>{% if library.tutorial_url %}<a href="{{library.tutorial_url}}">Available</a>{% else %}Unavailable{% endif %}</td>
	 </tr>
	{% endfor %}
	</table>
	{% endif %}
</div>
<br>
{% endblock body %}
