{% extends "h5p/base.html" %}
{% load static %}
{% block head %}
	<title>H5PP - List of contents</title>
	<script>
	{% if listContent %}
	window.onload = function() {
		// Initialize the searchbar
		var searchbar = document.getElementById('searchbar');
		searchbar.addEventListener("keyup", function(event) {
			var input, filter, table, tr, td, i;
			input = document.getElementById("searchbar");
			filter = input.value.toUpperCase();
			table = document.getElementById("contents");
			tr = table.getElementsByTagName("tr");

			for(i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[0];
				if(td) {
					if(td.innerHTML.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					}else {
						tr[i].style.display = "none";
					}
				}
			}
		});
		{% if request.user.is_authenticated or request.user.is_superuser %}
		// Initialize the row selector
		var line = document.getElementById('contents').rows;
		for(var i = 1; i < line.length; i++) {
			line[i].addEventListener("click", function(event) {
				for(var j = 1; j < line.length; j++) {
					line[j].classList.remove("success");
				}
				this.className = "success";
			});
		}
		// Initialize the edit button
		var edit = document.getElementById('edit');
		edit.addEventListener("click", function(event) {
			try {
				var selected = document.getElementsByClassName('success')[0];
				var title = selected.getElementsByTagName('td')[0].getElementsByTagName('a')[0].innerHTML;
				var id = selected.getElementsByTagName('td')[3].innerText;
				window.location = "{% url 'h5pp:h5pcreate' %}" + id + "/?title=" + title;
			}
			catch(error) {
				alert('First select a content to edit.');
			}
		});
		// Initialize the delete button
		var remove = document.getElementById('delete');
		remove.addEventListener("click", function(event) {
			if (confirm('Are you sure you want to delete this content ?')) {
				try {
					var selected = document.getElementsByClassName('success')[0];
					var id = selected.getElementsByTagName('td')[3].innerText;
					var form = document.createElement("form");
					form.setAttribute("method", "post");
					form.setAttribute("action", "{% url 'h5pp:h5plistContents' %}?contentId=" + id);
					var hiddenField = document.createElement("input");
					hiddenField.setAttribute("type", "hidden");
					hiddenField.setAttribute("name", "csrfmiddlewaretoken");
					hiddenField.setAttribute("value", "{{csrf_token}}");
					form.appendChild(hiddenField);
					document.body.appendChild(form);
					form.submit();
				}
				catch(error) {
					alert('First select a content to delete.');
				}
			}
			return false;
		});

		// Initialize the score buttons and tables
		var score = document.getElementById('score');
		var manage_buttons = document.getElementsByClassName('manage');
		score.addEventListener("click", function(event) {
			try {
				var selected = document.getElementsByClassName('success')[0];
				var id = selected.getElementsByTagName('td')[3].innerText;
				var scores = document.getElementById(id);
				if (scores.className == "table table-hover scores-hidden") {
					scores.className = "table table-hover scores";
				}else {
					scores.className = "table table-hover scores-hidden";
				}
			}
			catch(error) {
				alert('First select a content to view his score.');
			}
		});
		for(var i = 0; i < manage_buttons.length; i++) {
			manage_buttons[i].addEventListener("click", function(event) {
				try {
					var selected = document.getElementsByClassName('success')[0];
					var id = selected.getElementsByTagName('td')[3].innerText;
					window.location = "/h5p/score/" + id + "/";
				}
				catch(error) {
					alert('Error bad score');
				}
			});
		}
		{% endif %}
	}
	{% endif %}
	</script>
{% endblock head %}
{% block body %}
<div class="wrap">
	<h3 class="page-title">Contents</h3>
	<div class="alert alert-success">
		<p align="center">
			Here is the list of contents currently created or imported into the H5PP database.<br>
			You can <b>search</b> for content by name, see the content type, the author and the ID of the content (if you are administrator / superuser).<br>
			To <b>select</b> a content click on its row.
		</p>
		<hr>
		<p>
			<ul><li><b>As authenticated user </b>:
			You can access content by clicking on its title. You can also check your score <span class="glyphicon glyphicon-list-alt"></span> on this content. An empty score table means that you have not seen this content yet</li>

			<li><b>As a content owner </b>:
			You can edit <span class="glyphicon glyphicon-wrench"></span> or delete your content <span class="glyphicon glyphicon-erase"></span>. You can also check the score of the users who made the activities of your video and access to the score management page <span class="glyphicon glyphicon-edit"></span></li></ul>
		</p>
	</div>
	{% if status %}
		<div class="alert alert-danger">
			<p>
				{{ status }}
			</p>
		</div>
	{% endif %}
	<div class="list">
		<input type="text" id="searchbar" placeholder="Search by name...">
		{% if request.user.is_authenticated or request.user.is_superuser %}
			<button type="submit" id="edit" class="btn btn-link" value="Edit">
				<span class="glyphicon glyphicon-wrench"> Edit</span>
			</button>
		{% endif %}
		{% if request.user.is_authenticated or request.user.is_superuser %}
			<button type="submit" id="delete" class="btn btn-link" value="Delete">
				<span class="glyphicon glyphicon-erase"> Delete</span>
			</button>
		{% endif %}
		{% if request.user.is_authenticated or request.user.is_superuser %}
			<button type="submit" id="score" class="btn btn-link" value="Score">
				<span class="glyphicon glyphicon-list-alt"> Score</span>
			</button>
		{% endif %}
		<h4>Contents</h4>
		<table id="contents" class="table table-hover">
			<thead>
				<tr class="header">
					<th style="width:20%;">Title</th>
					<th style="width:20%;">Author</th>
					<th style="width:50%;">Content type</th>
					{% if request.user.is_authenticated or request.user.is_superuser %}
						<th style="width:10%;">ID</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
			{% for content in listContent %}
				<tr>
					<td>
						<a href="{% url 'h5pp:h5pcontent' %}?contentId={{content.id}}">
							{{content.title}}
						</a>
					</td>
					<td>
						{{content.author}}
					</td>
					<td>
						{{content.content_type}}
						<span class="label label-default">
							{{content.library_major_version}}.{{content.library_minor_version}}
						</span>
					</td>
					{% if request.user.is_authenticated or request.user.is_superuser %}
					<td>
						{{content.id}}
					</td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% if request.user.is_authenticated %}
			<h4>Scores</h4>
			<i>Select content to see the associated score</i>
			{% for content in listContent %}
				<table id={{content.id}} class="table table-hover scores-hidden">
					<thead>
						<tr class="header">
							<th style="width:30%;">Username</th>
							<th style="width:20%;">Current</th>
							<th style="width:20%;">Max</th>
							<th style="width:30%;">Progress</th>
						</tr>
					</thead>
					<tbody>
						{% for score in content.score %}
							{% if content.author == request.user.username or request.user.is_superuser %}
							<tr>
								<td>
									{{score.uid}}
								</td>
								<td>
									{{score.points}}
								</td>
								<td>
									{{score.max_points}}
								</td>
								<td>
									{% if score.has_finished %}
									Completed
									{% else %}
									Not completed
									{% endif %}
								</td>
							</tr>
							{% elif score.uid == request.user.username %}
							<tr>
								<td>
									Your score
								</td>
								<td>
									{{score.points}}
								</td>
								<td>
									{{score.max_points}}
								</td>
								<td>
									{% if score.has_finished %}
									Completed
									{% else %}
									Not completed
									{% endif %}
								</td>
							</tr>
							{% endif %}
						{% endfor %}
						{% if content.author == request.user.username or request.user.is_superuser %}
						<tr>
							<td><h4>{{content.title}}</h4></td>
							<td>
								<button type="submit" class="btn btn-link manage" value="Manage">
									<span class="glyphicon glyphicon-edit">Manage</span>
								</button>
							</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock body %}
