{% extends "h5p/base.html" %}
{% load static %}
{% block head %}
	<script>
	function search() {
			var input, filter, table, tr, td, i;
			input = document.getElementById("searchbar");
			filter = input.value.toUpperCase();
			table = document.getElementById("contents");
			tr = table.getElementsByTagName("tr");

			for(i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[0];
				if(td) {
					if(td.innerHTML.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					}else {
						tr[i].style.display = "none";
					}
				}
			}
		}
	</script>
{% endblock head %}
{% block body %}
<div class="wrap">
	<h3 class="page-title">Contents</h3>
	<div class="alert alert-success">
		<p>
			Here is the list of contents currently created or imported into the H5PP database.<br>
			You can search for content by name, see the content type, the author, the ID of the content and the options table (View, edit or delete the content).
		</p>
	</div>
	{% if status %}
		<div class="alert alert-danger">
			<p>
				{{ status }}
			</p>
		</div>
	{% endif %}
	<div class="list">
		<input type="text" id="searchbar" onkeyup="search()" placeholder="Search by name...">
		<table id="contents">
			<tr class="header">
				<th style="width:20%;">Name</th>
				<th style="width:20%;">Author</th>
				<th style="width:20%;">Content type</th>
				<th style="width:10%;">ID</th>
				{% if request.user.is_authenticated %}
					<th style="width:30%;">Options</th>
				{% endif %}
			</tr>
		{% for content in listContent %}
			<tr>
				<td>
					{{content.title}}
				</td>
				<td>
					{{content.author}}
				</td>
				<td>
					{{content.library_name}}
					<span class="label label-default">
						{{content.library_major_version}}.{{content.library_minor_version}}
					</span>
				</td>
				<td>
					{{content.id}}
				</td>
				<td class="options">
					<a href="{% url "h5pcontent" %}?contentId={{content.id}}">
						<input type="submit" class="btn btn-default content-options" value="View" />
					</a>
					{% if request.user.is_authenticated and request.user.username == content.author or request.user.is_superuser%}
						<a href="{% url "h5pedit" contentId=content.id %}?title={{content.title}}">
							<input type="submit" class="btn btn-default content-options" value="Edit" />
						</a>
					{% endif %}
					{% if request.user.is_superuser %}
						<form method="post" action="{% url "h5plistContents" %}?contentId={{content.id}}">
							{% csrf_token %}<input type="submit" class="btn btn-default content-options" value="Delete">
						</form>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</table>
	</div>
</div>
{% endblock body %}
